body {
    margin: 50px;
    background-color: black;
    justify-self: center;
}

.container {
    background-color: hsl(0, 0%, 12%);
    height: 700px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

img {
    height: 100px;
    width:100px;
    border-radius: 100px;
    margin: 40px;

}

@font-face {
    font-family: 'inter-bold';
    src: url('assets/fonts/inter-bold.woff2') format('woff2'),
}

@font-face {
    font-family: 'inter-SemiBold';
    src: url('assets/fonts/inter-semi-bold.woff2') format('woff2'),
}

@font-face {
    font-family: 'inter-regular';
    src: url('assets/fonts/inter-regular.woff2') format('woff2'),
        
}

.text {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.text h1 {
    font-weight: 700;
    font-family: 'inter-bold', sans-serif;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

#location {
    color: hsl(75, 94%, 57%);
    margin-left: 40px;
    font-family: 'inter-SemiBold', sans-serif;
    font-weight: 600;
}

.text p {
    color: hsl(0, 4%, 85%);
    font-family: 'inter-regular', sans-serif;
    font-weight: 400;

}
#link{
    display: flex;
    flex-direction: column;
    
}

a {
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    display: block;
    padding: 15px;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: 'inter-SemiBold', sans-serif;
    font-weight: 600;
}
a:hover{
    background-color:hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}